h1{
    font-size:50px;
    font-family: "游明朝";
    color:#000080;
    text-align:center;
    border-radius:3px;
    background-color:#C2EEFF
}

h2{
  color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
    font-size:25px;
    font-family: "游明朝";
    color:#000080;
    line-height: 5pt;
}


p1{
    font-size:17px;
    font-family: "游明朝";
    color:#000000
}


p2{
    font-size:17px;
    font-family: "游明朝";
    line-height: 2;
}


p3{font-size:20px;
   font-family: "游明朝";
   color:#dd0000
}






address{
    font-size:17px;
    font-family: "游明朝";
    text-align:center;
    background-color:#C2EEFF
}













